// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// THEME STANDARD COLORS

// $blue: #2b3e7a;
// $blue: #273569;
$blue: #182140;

// $gray: #f2f2f2;
// $gray-dark: #E6E8EF;
$gray: #E6E8EF;

//
$pink: #e64069;
$black: #333333;
$white: #ffffff;

$blue-dark: #111c59;
$blue-light: #4d6299;
$blue-gray-one: #f6f7fa;
$blue-gray-two: #e9ecf3;
